@*Author: Ryan French Date Complete: 2019/08/06
  Purpose: Create view for the web application
  this view will allow the user to add a patient to the list of incoming patients
*@
@model Patients
@{ ViewBag.Title = "Create New Patient"; }

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group row">
        <label asp-for="Sex" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Sex" class="form-control" placeholder="Gender(M/F)" maxlength="1">
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="DOB" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="date" asp-for="DOB" class="form-control" placeholder="DOB">
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="WaitTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="WaitTime" class="form-control" placeholder="Waitime(00:00)">
            <span asp-validation-for="WaitTime" class="text-danger"></span>
        </div>
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>